@charset "UTF-8";
/* line 8, sass/main.scss */
*,
*::after,
*::before {
  /* without the browser adding any margins or paddings */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 17, sass/main.scss */
html {
  font-size: 62.5%;
  /* 
  我们设置font-size: 10px; 
  这样设置之后，1rem = 10px 
  但如果我们直接设置10px，就会覆盖掉browser默认的16px。
  这样如果用户修改browser的default font size，我们的app都不会被改变（bad practice）
  所以我们通过百分比来设置
  */ }

/* line 28, sass/main.scss */
body {
  /* 一般情况下，我们把字体的统一设置放在body中，而不是*中，因为这么做会更有效率 */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* 1.7的意思是行高是预设行高的1.7倍 */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/* line 40, sass/main.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* 当视口缩小无法展示所有背景时，top永远位置固定 */
  background-position: top;
  position: relative;
  /* polygon的坐标顺序是： 上左，上右，下右，下左 & xy */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

/* line 57, sass/main.scss */
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

/* line 63, sass/main.scss */
.header__logo {
  /* 浏览器会自动根据比例调节宽度 */
  height: 3.5rem; }

/* line 68, sass/main.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* 注意：translate中的-50%指的是向左or向上移动所在元素宽or高的50% */
  transform: translate(-50%, -50%);
  /* 因为inline-box还是有inline元素的特性，
  所以text-align: center; 可以让button居中*/
  text-align: center; }

/* line 79, sass/main.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* 
   // fix shaking problem if exists
    backface-visibility: hidden;
   */ }

/* line 89, sass/main.scss */
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* 先快后慢 */
  animation-timing-function: ease-out;
  /* 动画发生的次数 */
  /* animation-iteration-count: 3; */
  /* animation-delay: 2s; */ }

/* line 103, sass/main.scss */
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    /* 百分数表示时间进度 */
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    /* 百分数表示时间进度 */
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* line 152, sass/main.scss */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  transition: all 0.4s;
  font-size: 1.6rem; }

/* line 164, sass/main.scss */
.btn:hover {
  color: #fff;
  background-color: #fc8965;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 171, sass/main.scss */
.btn:active {
  /* 注意: 这个-1rem是相对初始状态而言的而不是hover状态 */
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 177, sass/main.scss */
.btn--white {
  background-color: #fff;
  color: #777; }

/* line 182, sass/main.scss */
.btn::after {
  /* 注意：content和display都是必须的，否则这个元素不会被显示出来 */
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  transition: all 0.4s; }

/* line 196, sass/main.scss */
.btn--white::after {
  background-color: #fff; }

/* line 200, sass/main.scss */
.btn:hover::after {
  /* 仅hover时才追加的style设置*/
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

/* line 206, sass/main.scss */
.btn--animated {
  animation: moveInBottom 0.6s ease-out 0.75s;
  /* animation-fill-mode: backwards;可以解决动画开始之前元素就可见的问题（不在动画起点） */
  animation-fill-mode: backwards; }
